/* SOUS PAGE EXPERTISE - card-expertise */

.card-expert {
    position: relative;
    min-height: 27em;
  }
  
  .card-consulting {
    position: relative;
    min-height: 20em;
  
    & a:hover {
      text-decoration: none !important;
  
      & h4 {
        text-decoration: underline;
      }
    }
  }
  
  @media (min-width: 1000px) {
    .row-consulting > * {
      flex: 0 0 auto;
      width: calc(100% / 3);
    }
  }
  
  /* STYLE BREADCRUMB */
  
  .breadcrumb-item + .breadcrumb-item {
    &:before {
      padding-top: 5px;
      content: url(../../../public/img/icons/Breadcrumb.svg);
    }
  }
  
  .breadcrumb-item a,
  .breadcrumb-item span {
    color: $blue;
    font-weight: 500;
    font-size: 1.2em;
  }
  .breadcrumb-item.active a,
  .breadcrumb-item.active span {
      font-weight: 600;
    color: $grey-blue;
  }

/* STYLE LISTE PAGE EXPERTISE */
.liste_custom {
    & li {
      list-style: none;
    }
  
    & li::before {
      content: url('../../../public/img/icons/Done-circle.svg');
      display: inline-block;
      width: 2em;
      margin-left: -1em;
      vertical-align: text-top;
    }
  }
  
/* STYLE FOCUS POINT PAGE EXPERTISE */
.focus_point {
    & ul {
        padding-left: 0;
        display: flex;
    }

    & li {
        list-style: none;
        text-align: center;

        position: relative;
        width: 100%;
        padding: 2em;
        margin: 1em;

        box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.05) !important;

        &::before {
        content: url('../../../public/img/icons/Done-circle.svg');
        display: inline-block;
        width: 4em;
        margin-left: -1em;
        vertical-align: text-top;
        }
    }
}

@media (max-width: 760px) {
    .focus_point ul {
        flex-wrap: wrap;
    }

    .focus_point ul > * {
        flex: 0 0 auto;
        width: 100%;

        margin: 1em 0;
    }
}