/* UBIDREAMS COLORS */
$light-grey: #f1f4f8;
$dark-grey: #6b7c93;
$grey: #e6ecf8;
$grey-blue: #9fc5d7;
$blue: #2d90ca;
$green: #59bdb1;
$dark-green: #3a9185;
$orange: #deb68c;

/* OPACITY VALUES */
$v25: 0.25;
$v50: 0.5;
$v75: 0.75;
$v1: 1;

$theme-colors: (
  'light-grey': $light-grey,
  'dark-grey': $dark-grey,
  'grey': $grey,
  'grey-blue': $grey-blue,
  'blue': $blue,
  'green': $green,
  'dark-green': $dark-green,
  'orange': $orange
);

$axes: ('top', 'bottom', 'left', 'right');

$opacity: (
  '25': $v25,
  '50': $v50,
  '75': $v75,
  '100': $v1
);

// Generate color utilities
@each $color, $value in $theme-colors {
  //`.bg-*`
  .bg-#{$color} {
    background-color: $value;
  }

  //`.text-*`
  .text-#{$color} {
    color: $value;
  }

  /* BUTTON */
  .btn-#{$color} {
    color: #fff;
    background-color: $value;
    border-color: $value;
  }

  .btn-#{$color}:hover,
  .btn-#{$color}:active,
  .btn-#{$color}:focus,
  .btn-#{$color}.active {
    background: mix(#000, $value, 10%);
    border-color: mix(#000, $value, 10%);
    color: #ffffff !important;
    text-decoration: none !important;
  }

  /* SOFT BUTTON */
  .soft-#{$color} {
    color: $value;
    background-color: $light-grey;
    border-color: $value;
  }

  .soft-#{$color}:hover,
  .soft-#{$color}:active,
  .soft-#{$color}:focus,
  .soft-#{$color}.active {
    background-color: mix(#000, $light-grey, 5%);
    color: $value !important;
    text-decoration: none !important;
  }

  /* SOFT BADGE */
  .badge.bg-#{$color}-soft.active {
    background-color: $value;
    color: #fff;
  }

  .badge.bg-#{$color}-soft {
    background-color: rgba(80, 102, 144, 0.1);
    color: #506690;
  }

  /* BG-COLOR-OPACITY */
  @each $var, $intensity in $opacity {
    .bg-#{$color}-#{$var} {
      background-color: $value;
      opacity: $intensity;
    }
  }

  /* BORDER */
  @each $axe in $axes {
    .border-#{$axe}.border-#{$color} {
      border-color: $value !important;
    }
  }
}
//Custom link
a {
  color: $blue;

  &:hover {
    color: $blue !important;
    text-decoration: underline !important;
  }
}

.custom-card-link:hover {
  text-decoration: none !important;
}

//Custom next/prev buttun for slider
.slick-prev-custom,
.slick-next-custom {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  padding: 0;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  z-index: 10;
}

.slick-prev-custom {
  left: -25px;
}

.slick-next-custom {
  right: -25px;
}

//custom background between
@media (max-width: 1500px) {
  .bg-between {
    background-image: none !important;
  }

  .adaptive-padding {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
  }
}

.adaptive-padding {
  padding-left: 7.25rem;
  padding-right: 7.25rem;
}

/* Page-title  */
.expertise-img > div {
  max-width: 97% !important;
}

/* PAGE AGENCE */
.card-img-top {
  max-height: 18em;

  & > picture img{
    object-fit: cover;
  }
}

.card-blur {
  box-sizing: border-box;
  overflow: hidden !important;
  border-radius: inherit;
}

.citation {
  opacity: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}

.card:hover .card-blur {
  position: relative;

  & > .card-img-top {
    transition: all 0.3s ease;
    filter: blur(7px);
  }

  & > .card-img-overlay {
    transition: all 1s ease;
    opacity: 1;
  }
}

.citation code {
  color: $light-grey !important;
}

/* MAP SECTION */
.mapContainer {
  height: 400px;
}

.ratio:before {
  padding-top: 0;
}

//Galerie image
.grid {
  position: relative;
  height: auto !important;
}

.grid-item {
  position: relative !important;
}

.object-cover > img,
.object-cover picture img {
  object-fit: cover;
}

//PAGE REFERENCES
/* Card Reference */
.card-zoom div {
  height: 100%;
}

.card:hover > .card-zoom > div > [class*='card-img'] {
  transform: scale(1.1);
}
.card-zoom > div > [class*='card-img'] {
  transition: all 0.3s ease;
  transform-origin: center center;
}

.minHeight {
  min-height: 20em;
}

//taille de l'image définie à 200px et img configurée sur contain
.img-regies {
  height: 200px;
}

.object-contain > img,
.object-contain picture img {
  object-fit: contain;
}
/* PAGE BLOG */
.badge.active:hover {
  color: #fff !important;
}

.search-bar button:focus,
.nav button:focus {
  outline: none;
}

//Pagination
.rc-pagination-prev,
.rc-pagination-next {
  display: none;
}

.rc-pagination-item {
  min-height: 1em;
  font-family: inherit;
  font-size: 1.3em;
  border: none;

  & a {
    color: $green;
  }
}

.rc-pagination-item a:hover,
.rc-pagination-item a:focus,
.rc-pagination-item a:active {
  text-decoration: none !important;
  color: $dark-green !important;
}

.rc-pagination-item-active {
  background-color: mix(#000, $light-grey, 5%);
  text-decoration: none;
  color: $dark-green !important;
  border-color: $green;
}

/* PAGE CONTACT */
.form-label.required:after {
  content: '*';
}

.card-expert {
  position: relative;
  min-height: 26em;
}

/* STYLE BREADCRUMB */

.breadcrumb-item + .breadcrumb-item {
  
  &:before {
    padding-top: 5px;
    content: url(../../public/img/icons/Breadcrumb.svg);
  }
}

.breadcrumb-item a {
  color: $blue;
  font-weight: 500;
  font-size: 1.2em;
}
.breadcrumb-item.active a {
  color: $grey-blue;
}
