/* UBIDREAMS COLORS */
$light-grey: #f1f4f8;
$dark-grey: #6b7c93;
$black-grey: #384c74;
$grey: #e6ecf8;
$grey-blue: #9fc5d7;
$blue: #277cae;
$soft-blue: #1b577a;
$green: #59bdb1;
$dark-green: #3a9185;
$orange: #deb68c;

/* OPACITY VALUES */
$v25: 0.25;
$v50: 0.5;
$v75: 0.75;
$v1: 1;

$theme-colors: (
  'light-grey': $light-grey,
  'dark-grey': $dark-grey,
  'grey': $grey,
  'grey-blue': $grey-blue,
  'blue': #277cae,
  'green': $green,
  'dark-green': $dark-green,
  'orange': $orange
);

$axes: ('top', 'bottom', 'left', 'right');

$opacity: (
  '25': $v25,
  '50': $v50,
  '75': $v75,
  '100': $v1
);

// Generate color utilities
@each $color, $value in $theme-colors {
  //`.bg-*`
  .bg-#{$color} {
    background-color: $value;
  }

  //`.text-*`
  .text-#{$color} {
    color: $value;
  }

  /* BUTTON */
  .btn-#{$color} {
    color: #fff;
    background-color: $value;
    border-color: $value;
  }

  .btn-#{$color}:hover,
  .btn-#{$color}:active,
  .btn-#{$color}:focus,
  .btn-#{$color}.active {
    background: mix(#000, $value, 10%);
    border-color: mix(#000, $value, 10%);
    color: #ffffff !important;
    text-decoration: none !important;
  }

  /* SOFT BUTTON */
  .soft-#{$color} {
    color: $value;
    background-color: $light-grey;
    border-color: $value;
  }

  .soft-#{$color}:hover,
  .soft-#{$color}:active,
  .soft-#{$color}:focus,
  .soft-#{$color}.active {
    background-color: mix(#000, $light-grey, 5%);
    color: $value !important;
    text-decoration: none !important;
  }

  /* OUTLINE BUTTON */
  .btn-outline-#{$color} {
    border-color: #d9e2ef;
    color: $value;
  }

  .btn-outline-#{$color}:hover,
  .btn-outline-#{$color}:active,
  .btn-outline-#{$color}:focus,
  .btn-outline-#{$color}.active {
    background-color: $value;
    color: #fff !important;
    text-decoration: none !important;
  }

  /* SOFT BADGE */
  .badge.bg-#{$color}-soft.active {
    background-color: $value;
    color: #fff;
  }

  .badge.bg-#{$color}-soft {
    background-color: rgba(80, 102, 144, 0.1);
    color: #506690;
  }

  /* BG-COLOR-OPACITY */
  @each $var, $intensity in $opacity {
    .bg-#{$color}-#{$var} {
      background-color: $value;
      opacity: $intensity;
    }
  }

  /* BORDER */
  @each $axe in $axes {
    .border-#{$axe}.border-#{$color} {
      border-color: $value !important;
    }
  }
}
/* GLOBAL RULES */
html {
  overflow-y: auto !important;
}
//Custom link
a {
  color: $blue;

  &:hover {
    color: $blue !important;
    text-decoration: underline !important;
  }
}

.nav-link:hover,
.nav-link:focus {
  color: $blue !important;
}

h1,
h2 {
  font-weight: 700;
}

h3,
h4 {
  font-weight: 600;
}

p {
  color: $black-grey;
}

.text-muted {
  color: #465877 !important;
}

.custom-card-link:hover {
  text-decoration: none !important;
}

//Custom next/prev buttun for slider
.slick-prev-custom,
.slick-next-custom {
  font-size: 0;
	font-display: swap;
  line-height: 0;
  position: absolute;
  top: 50%;
  padding: 0;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  z-index: 10;
}

.slick-prev-custom {
  left: -25px;
}

.slick-next-custom {
  right: -25px;
}

/* Slider items min height */
.minHeight {
  min-height: 20em;
}

//custom background between
@media (max-width: 1500px) {
  .bg-between {
    background-image: none !important;
  }

  .adaptive-padding {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
  }
}

.adaptive-padding {
  padding-left: 7.25rem;
  padding-right: 7.25rem;
}

/* Page-title  */
.expertise-img > div {
  max-width: 97% !important;
}
.hero {
  min-height: 80vh;
}

@media (max-width: 700px) {
  .hero {
    min-height: auto;
  }
}

/* PAGE AGENCE */
.members .card-img-top {
  height: 22em;

  & > picture img {
    object-fit: cover;
  }
}

.card-blur {
  box-sizing: border-box;
  overflow: hidden !important;
  border-radius: inherit;
}

.citation {
  opacity: 0;
  background: rgba(255, 255, 255, 0.5);

  & code {
    color: $black-grey;
  }
}

.card:hover .card-blur {
  position: relative;

  & > .card-img-top {
    transition: all 0.3s ease;
    filter: blur(7px);
  }

  & > .card-img-overlay {
    transition: all 1s ease;
    opacity: 1;
  }
}

/* MAP SECTION */
.mapContainer {
  height: 400px;
}

.ratio:before {
  padding-top: 0;
}

//Galerie image
.grid {
  position: relative;
  height: auto !important;
}

.grid-item {
  position: relative !important;
}

.object-cover > img,
.object-cover picture img {
  object-fit: cover;
}

//PAGE REFERENCES
/* Card Reference */
.card-zoom div {
  height: 100%;
}

.card:hover > .card-zoom > div > [class*='card-img'] {
  transform: scale(1.1);
}
.card-zoom > div > [class*='card-img'] {
  transition: all 0.3s ease;
  transform-origin: center center;
}

.cards-reference .card-img-top {
  max-height: 22em;

  & > picture img {
    object-fit: cover;
  }
}

/* list référence */
.list-item-reference {
  margin-bottom: 1em;

  & p {
    margin-bottom: 0;
  }

  & div {
    width: 34px;
    align-self: center;
  }
}
//taille de l'image définie à 200px et img configurée sur contain
.img-regies {
  height: 200px;
}

.object-contain > img,
.object-contain picture img {
  object-fit: contain;
}
/* PAGE BLOG */
.badge.active:hover {
  color: #fff !important;
}

.search-bar button:focus,
.nav button:focus {
  outline: none;
}
.soft-blue {
	color: $soft-blue;
}
//Pagination
.rc-pagination-prev,
.rc-pagination-next {
  display: none;
}

.rc-pagination-item {
  min-height: 1em;
  font-family: inherit;
  font-size: 1.3em;
  border: none;

  & a {
    color: $green;
  }
}

.rc-pagination-item a:hover,
.rc-pagination-item a:focus,
.rc-pagination-item a:active {
  text-decoration: none !important;
  color: $dark-green !important;
}

.rc-pagination-item-active {
  background-color: mix(#000, $light-grey, 5%);
  text-decoration: none;
  color: $dark-green !important;
  border-color: $green;
}

/* ARTICLE */
.list-social-item .popover {
  display: none;
}

.list-social-item:hover .popover, .list-social-item:focus .popover {
  display: block;
  position: absolute;
  top: 35px;
  left: -900%;
  padding: 1em;
  width: 18em;

  text-align: center;

  &.pop-footer{
    top: -9em;
    left: -1em;
  }
}

/* PAGE CONTACT */
.contact {
  margin: 1.5em auto;

  h2 {
    color: $light-grey !important;
  }
}
.form-label.required:after {
  content: '*';
  margin-left: 5px;
}

.contact-help {
  margin : 0.5rem 0 0 0.5rem;
  font-size: 0.9em;
}

#captcha {
  display: inline-block;
  margin: 1em auto;
}

/* SOUS PAGE EXPERTISE - card-expertise */

.card-expert {
  position: relative;
  min-height: 27em;
}

.card-consulting {
  position: relative;
  min-height: 20em;

  & a:hover {
    text-decoration: none !important;

    & h4 {
      text-decoration: underline;
    }
  }
}

@media (min-width: 1000px) {
  .row-consulting > * {
    flex: 0 0 auto;
    width: calc(100% / 3);
  }
}

/* STYLE BREADCRUMB */

.breadcrumb-item + .breadcrumb-item {
  &:before {
    padding-top: 5px;
    content: url(../../public/img/icons/Breadcrumb.svg);
  }
}

.breadcrumb-item a,
.breadcrumb-item span {
  color: $blue;
  font-weight: 500;
  font-size: 1.2em;
}
.breadcrumb-item.active a,
.breadcrumb-item.active span {
  color: $grey-blue;
}

/* STYLE PAGE TEMPLATE */
.img-page {
  max-height: 22em;

  & > picture img {
    object-fit: contain;
  }
}

/* STYLE LISTE PAGE EXPERTISE */
.liste_custom {
  & li {
    list-style: none;
  }

  & li::before {
    content: url('../../public/img/icons/Done-circle.svg');
    display: inline-block;
    width: 2em;
    margin-left: -1em;
    vertical-align: text-top;
  }
}

/* STYLE FOCUS POINT PAGE EXPERTISE */
.focus_point {
  & ul {
    padding-left: 0;
    display: flex;
  }

  & li {
    list-style: none;
    text-align: center;

    position: relative;
    width: 100%;
    padding: 2em;
    margin: 1em;

    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.05) !important;

    &::before {
      content: url('../../public/img/icons/Done-circle.svg');
      display: inline-block;
      width: 4em;
      margin-left: -1em;
      vertical-align: text-top;
    }
  }
}

@media (max-width: 760px) {
  .focus_point ul {
    flex-wrap: wrap;
  }

  .focus_point ul > * {
    flex: 0 0 auto;
    width: 100%;

    margin: 1em 0;
  }
}

/* VIDEO */
.video iframe {
  width: 100%;
  min-height: 33em;
}
.display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33em;
  background-color: $dark-grey;
  text-align: center;

  & p {
    color: white;
    font-size: 25px;
  }
}
.hide-video > iframe {
  display: none;
}
